body {
	background-image: url(../images/blkpattern.png);
	width: 750px;
	margin: 0 auto;
	margin-top: 0px;
		
}

dl, dt, dd {
	margin: 0;
}

dt {
	margin-top: 5px;
	font-size: 1.5em;
}

#content {
	clear: both;
	padding: 1.5em;
	background-color: #ffffff;
	height: auto;
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	border-radius:					10px;
	margin-bottom: 50px;
}

#headerbox {
	padding: .5em;
	width: 140px;
	min-height: 100px;
	height: auto;
	height: 110px;
	background-color: #ffffff;
	-moz-border-radius:		10px;
	-webkit-border-radius:	10px;
	border-radius:					10px;
	margin: 10px 0;
	float: right;
}

#topnav {
	float: right;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a, a:visited, a:active {
  color:#137BC0;
  text-decoration:none;
}

a:hover {
  color:#6CB9FF;
  text-decoration:underline;
}

#mediaicons {
	text-align: center
}

/* Flash notice */

.error {
	padding: 1em;
	background-color: #FF3030;
	border: 1px solid #8E2323;
}

.notice {
	padding: .5em;
	background-color #02342f;
	border: 1px solid #129391;
}

